body {
  margin: 0;
  padding: 0;
	font-family: 'Roboto', sans-serif;
}

.container {
	margin-top: 50px;
  margin: 0 0 38px;
}

@media (min-width: 600px) {
	.container {
    width: auto;
    margin-left: 40px;
    margin-right: 40px;
		margin-top: 50px;
	}
}

@media (min-width: 920px) {
	.container {
    width: 840px;
    margin-left: auto;
    margin-right: auto;
		margin-top: 50px;
	}
}

@media (min-width: 1260px) {
	.container {
    width: 66.66%;
		margin-top: 50px;
	}
}

@media (min-width: 1800px) {
	.container {
    width: 1200px;
		margin-top: 50px;
	}
}
